<%# navigation styled for Bootstrap 3.0 %>
<div class="row">
  <hr class="featurette-divider">

  <!-- First Featurette -->
  <div class="jumbotron panel panel-default row" >
    <div class="col-sm-6">
      <h2 class="featurette-heading">Caesar Cipher
      </h2>
      <p class="lead">The Caesar cipher is named after Julius Caesar, who, according to Suetonius, used it with a shift of three to protect messages of military significance. While Caesar's was the first recorded use of this scheme, other substitution ciphers are known to have been used earlier.</p>
    </div>
  <div class="col-sm-6">
    <img class="featurette-image img-circle img-responsive pull-right"
         src="https://lh6.ggpht.com/K6n2cPSoNWv4B9p1fe5yLUTRXsPnzaJGdrQ8_Mkpy8rlSeZ5zt1vzyglayk4n6gy_paZ=w300">
  </div>
  </div>


  <hr class="featurette-divider">

  <nav class="navbar navbar-inverse navbar-fixed-top">
      <div class="navbar-header">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <%= link_to 'Home', root_path, class: 'navbar-brand' %>
      </div>
      <div class="collapse navbar-collapse">
        <ul class="nav navbar-nav">
          <%= render 'layouts/navigation_links' %>
        </ul>
      </div>
    </div>
  </nav>
